$main-color: #181e36;
$secondary-color: #2f344a;
$third-color: #f4f6f8;
$font-color: #ffffff;
$font-secondary-color: #c7c8cb;
$font-third-color: #6c6d77;
$border-color: #707070;
$delete-color: #c21807;
$confirm-color: #708238;
